<h1>Welcome to the blog page!</h1>

<% blogs.forEach((blog)=>{ %>
    <div>
        <p> <%= blog.title %> </p>
        <img src="<%= blog.image %>" alt="image"> 
        <p> <%= blog.body %> </p>
    </div>
<% }) %>